* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4a261;
}

body,
.quote-input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #264653;
    padding: 1rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    width: 650px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 3rem;
    color: #264653;
    font-size: 4rem;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.quote-input:focus {
    border-color: #e9c46a;
    color: wheat;
}

.correct {
    color: #2a9d8f;
}

.incorrect {
    color: #e76f51;
    text-decoration: underline;
}

#start {
    padding: 10px;
    position: relative;
}